<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>Kayıt Ol</title>
</head>
<body>
    <div class="sign-up-container">
        <h1 class="custom-title">Kayıt Ol</h1>
        <form class="login-form" id="login-form">
            <input type="text" placeholder="Kullanıcı Adı" class="custom-input" id="username">
            <input type="text" placeholder="Email" class="custom-input" id="email">
            <input type="tel" placeholder="530*******" class="custom-input" id="phone-number">
            <input type="password" placeholder="Şifre" class="custom-input" id="password">
            <input type="password" placeholder="Şifre" class="custom-input" id="password">
            <button id="sign-up" type="submit">Kayıt ol</button>
        </form>
    </div>
    <script src="js/sign-up.js"></script>
    <footer class="footer">
        <p>&copy; 2023 Koçtim, Koç Yazar Kasa Bilişim ve Yazılım Ticaret Ltd. Sti. Tüm Hakları Saklıdır.</p>
    </footer>
</body>